<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<title>Insert title here</title>
<style>
table {
	width: 100%;
	font-size: 16px;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 6px;
	text-align: center;
	font-weight: bolder;
}

table td {
	color: black;
}

.bg-disable {
	background-color: #c0c0c0 !important;
}

.bg-normal {
	background-color: #F2F2F2 !important;
}
</style>
</head>
<body>

	<script type="text/javascript">
		$('#myModal')
				.on(
						'shown.bs.modal',
						function(e) {
							const url = new URL(
									'https://user1:pwd@www.example.com:8080/dir1/?=xyz&def=zzz#3')
							console.log(url)
							console.log($(e.relatedTarget)); // You will get the element you want! Cheers

							$('#myInput').trigger('focus')
						})
	</script>



	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Launch demo modal</button>


	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header">
					<h2 class="text-navy my-2" th:text="#{employeeList}"></h2>
					<br /> <a th:href="@{/regist}" type="button" class="btn btn-warning font-weight-bold" th:text="#{newRegist}"> </a> <br /> <br />
				</div>
				<div class="card-body">
					<div th:if="${demployees.size() == 0}" th:text="#{noData}"></div>
					<table th:if="${demployees.size() > 0}" class="table table-bordered panel-heading btn-primary">
						<thead>
							<tr>
								<th th:text="#{id}"></th>
								<th th:text="#{username}"></th>
								<th th:text="#{area}"></th>
								<th th:text="#{sales}"></th>
								<th th:text="#{numberOfCustomers}"></th>
								<th th:text="#{updateDate}"></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="demployee : ${demployees}" th:object="${demployee}" th:classappend="${demployee.in_office} ? bg-normal : bg-disable">
								<td th:text="*{userId}"></td>
								<td th:text="*{username}"></td>
								<td th:text="*{area}"></td>
								<td th:text="*{sales}"></td>
								<td th:text="*{customers}"></td>
								<td th:text="*{update_day}"></td>
								<td><input type="button" th:disabled="*{ in_office== false}" th:onclick="|location.href='@{/dempedit/{id}(id=__*{userId}__)}'|" class="btn btn-success" th:value="#{edit}"></td>
								<td th:if="*{ in_office== true}"><a th:href="@{/retirement/{id}(id=*{userId})}" onclick="return confirm('この作業は修正できません。本当によろしいですか。')" class="btn btn-danger" th:text="#{retirement}"></a></td>
								<td th:if="*{ in_office== false}"><button th:disabled="*{ in_office== false}" class="btn btn-danger" th:text="#{retirement}"></button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>