<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<title>Insert title here</title>
<style>
table {
	width: 100%;
	font-size: 16px;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 6px;
	text-align: center;
	font-weight: bolder;
}

table td {
	color: black;
}

.bg-disable {
	background-color: #c0c0c0 !important;
}

.bg-normal {
	background-color: #F2F2F2 !important;
}
</style>
</head>
<body>

	<script type="text/javascript">
		function entryChange1() {
			radio = document.getElementsByName("entryPlan");
			if (radio[0].checked) {
				//フォーム
				document.getElementById("firstBox").style.display = "";
				document.getElementById("secondBox").style.display = "none";
				document.getElementById("thirdBox").style.display = "none";
			} else if (radio[1].checked) {
				//フォーム
				document.getElementById("firstBox").style.display = "none";
				document.getElementById("secondBox").style.display = "";
				document.getElementById("thirdBox").style.display = "none";
			} else if (radio[2].checked) {
				document.getElementById("firstBox").style.display = "none";
				document.getElementById("secondBox").style.display = "none";
				document.getElementById("thirdBox").style.display = "";
			}
		}

		//オンロードさせ、リロード時に選択を保持
		window.onload = entryChange1;
	</script>



	<!--  -->
	<table>
		<tr>
			<th>どれにしますか？</th>
			<td>
			<label> <input type="radio" name="entryPlan" value="hoge1" onclick="entryChange1();" checked="checked" />全て
			</label>
			 <label> <input type="radio" name="entryPlan" value="hoge2" onclick="entryChange1();" />在籍
			</label>
			 <label> <input type="radio" name="entryPlan" value="hoge3" onclick="entryChange1();" />退社
			</label></td>
		</tr>
		<!-- 表示非表示切り替え -->
	</table>
	<!--  -->


	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header">
					<h2 class="text-navy my-2" th:text="#{employeeList}"></h2>
					<br /> <a th:href="@{/regist}" type="button" class="btn btn-warning font-weight-bold" th:text="#{newRegist}"> </a> <br /> <br />
				</div>
				<div class="card-body">
					<div th:if="${demployees.size() == 0}" th:text="#{noData}"></div>
					<table th:if="${demployees.size() > 0}" class="table table-bordered panel-heading btn-primary">

						<thead>
							<tr>
								<th th:text="#{id}"></th>
								<th th:text="#{username}"></th>
								<th th:text="#{area}"></th>
								<th th:text="#{sales}"></th>
								<th th:text="#{numberOfCustomers}"></th>
								<th th:text="#{updateDate}"></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody id="firstBox">
							<tr th:each="demployee : ${demployees}" th:object="${demployee}" th:classappend="${demployee.in_office} ? bg-normal : bg-disable">
								<td>1</td>
								<td th:text="*{userId}"></td>
								<td th:text="*{username}"></td>
								<td th:text="*{area}"></td>
								<td th:text="*{sales}"></td>
								<td th:text="*{customers}"></td>
								<td th:text="*{update_day}"></td>
								<td><input type="button" th:disabled="*{ in_office== false}" th:onclick="|location.href='@{/dempedit/{id}(id=__*{userId}__)}'|" class="btn btn-success" th:value="#{edit}"></td>
								<td th:if="*{ in_office== true}"><a th:href="@{/retirement/{id}(id=*{userId})}" onclick="return confirm('この作業は修正できません。本当によろしいですか。')" class="btn btn-danger" th:text="#{retirement}"></a></td>
								<td th:if="*{ in_office== false}"><button th:disabled="*{ in_office== false}" class="btn btn-danger" th:text="#{retirement}"></button></td>
							</tr>
						</tbody>
						<tbody id="secondBox">
							<tr th:each="demployee : ${demployees}" th:object="${demployee}" th:classappend="${demployee.in_office} ? bg-normal : bg-disable">
								<td>2</td>
								<td th:text="*{userId}"></td>
								<td th:text="*{username}"></td>
								<td th:text="*{area}"></td>
								<td th:text="*{sales}"></td>
								<td th:text="*{customers}"></td>
								<td th:text="*{update_day}"></td>
								<td><input type="button" th:disabled="*{ in_office== false}" th:onclick="|location.href='@{/dempedit/{id}(id=__*{userId}__)}'|" class="btn btn-success" th:value="#{edit}"></td>
								<td th:if="*{ in_office== true}"><a th:href="@{/retirement/{id}(id=*{userId})}" onclick="return confirm('この作業は修正できません。本当によろしいですか。')" class="btn btn-danger" th:text="#{retirement}"></a></td>
								<td th:if="*{ in_office== false}"><button th:disabled="*{ in_office== false}" class="btn btn-danger" th:text="#{retirement}"></button></td>
							</tr>
						</tbody>
						<tbody id="thirdBox">
							<tr th:each="demployee : ${demployees}" th:object="${demployee}" th:classappend="${demployee.in_office} ? bg-normal : bg-disable">
								<td>３</td>
								<td th:text="*{userId}"></td>
								<td th:text="*{username}"></td>
								<td th:text="*{area}"></td>
								<td th:text="*{sales}"></td>
								<td th:text="*{customers}"></td>
								<td th:text="*{update_day}"></td>
								<td><input type="button" th:disabled="*{ in_office== false}" th:onclick="|location.href='@{/dempedit/{id}(id=__*{userId}__)}'|" class="btn btn-success" th:value="#{edit}"></td>
								<td th:if="*{ in_office== true}"><a th:href="@{/retirement/{id}(id=*{userId})}" onclick="return confirm('この作業は修正できません。本当によろしいですか。')" class="btn btn-danger" th:text="#{retirement}"></a></td>
								<td th:if="*{ in_office== false}"><button th:disabled="*{ in_office== false}" class="btn btn-danger" th:text="#{retirement}"></button></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>