<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<title>Insert title here</title>
<style>
table {
	width: 100%;
	border-collapse: collapse;
	font-size: 16px;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 6px;
	text-align: center;
	font-weight: bolder;
}

table td {
	background-color: #F2F2F2;
	color: black;
}

table th {
	/* background-color: #F2F2F2; */

}
</style>
</head>
<body>
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header">
					<h2 class="text-navy my-2" th:text="#{employeeList}"></h2>
					<br /> <a th:href="@{/regist}" type="button" class="btn btn-warning font-weight-bold" th:text="#{newRegist}"> </a> <br /> <br />
					<div th:if="${getSearchWord}">
						<form th:action="@{/search}" th:object="${getSearchWord}" method="post">
							<table>
								<!-- ユーザーネーム -->
								<tr>
									<td>
										<div>
											<label th:text="#{username}"></label> <input type="text" th:errorclass="is-invalid" th:field="*{name}">
											<div class="invalid-feedback" th:errors="*{name}"></div>
										</div>
									</td>
								</tr>
								<!-- ユーザーネーム -->
								<!-- 性別 -->
								<tr>
									<td><label th:text="#{gender}"></label></td>
								</tr>
								<tr>
									<td><select th:field="*{gender}">
											<option th:value="null" selected>選択してください</option>
											<option th:each="item : ${genderList}" th:value="${item.key}" th:inline="text">[[${item.value}]]</option>
									</select></td>
								</tr>
								<!-- 性別 -->
								<!-- カレンダー -->
								<tr>
									<td th:text="#{join}"></td>
								</tr>
								<tr>
									<td><input type="date" th:errorclass="is-invalid" th:field="*{getJoinDateFrom}">
										<div class="invalid-feedback" th:errors="*{getJoinDateFrom}"></div> ～ <input type="date" th:errorclass="is-invalid" th:field="*{getJoinDateTo}">
										<div class="invalid-feedback" th:errors="*{getJoinDateTo}"></div></td>
								</tr>
								<!-- カレンダー -->
								<tr>
									<td>
										<div class="mt-2">
											<input type="submit" class="btn btn-primary" th:value="#{search}" />
										</div>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
				<div class="card-body">
					<div th:if="${employees.size() == 0}" th:text="#{noData}"></div>
					<table th:if="${employees.size() > 0}" class="table table-bordered panel-heading btn-primary">
						<thead>
							<tr>
								<th th:text="#{userId}"></th>
								<th th:text="#{username}"></th>
								<th th:text="#{eMail}"></th>
								<th th:text="#{phone}"></th>
								<th th:text="#{gender}"></th>
								<th th:text="#{birth}"></th>
								<th th:text="#{join}"></th>
								<th th:text="#{comment}"></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="employee : ${employees}" th:object="${employee}">
								<td th:text="*{userId}"></td>
								<td th:text="*{username}"></td>
								<td th:text="*{email}"></td>
								<td th:text="*{phone_number}"></td>
								<td th:text="*{gender}"></td>
								<td th:text="*{birthday}"></td>
								<td th:text="*{joinday}"></td>
								<td th:text="*{comment}"></td>
								<td><a th:href="@{/edit/{id}(id=*{userId})}" class="btn btn-success"> <i class="bi bi-pencil-square" th:text="#{edit}"></i>
								</a></td>
								<td><a th:href="@{/delete/{id}(id=*{userId})}" class="btn btn-danger"> <i class="bi bi-trash-fill" th:text="#{delete}"></i>
								</a></td>
								<td><a th:href="@{/dempedit/{id}(id=*{userId})}" class="btn btn-success"> <i class="bi bi-pencil-square" th:text="#{edit}"></i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div><!-- Optional JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>