<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body style="display: flex; justify-content: center">
	<div class="card" style="width: 30rem">
		<div class="container mt-4">
			<div class="panel panel-default">
				<h4 class="panel-heading btn-primary" style="padding: 10px; text-align: center; height: 50px; margin-bottom: 20px;" th:text="#{registForm}"></h4>
				<div class="panel-body">
					<form class="form-horizontal" th:action="@{regist}" th:object="${employeeForm}" method="post">
						<table>
							<tr>
								<td>
									<div class="form-group">
										<label th:text="#{userId}"></label> <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{userId}">
										<div class="invalid-feedback" th:errors="*{userId}"></div>
										<small class="text-muted" th:text="#{numValidate}"></small>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="form-group">
										<label th:text="#{userName}"></label> <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{userName}">
										<div class="invalid-feedback" th:errors="*{userName}"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td><label th:text="#{eMail}"></label> <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{email}">
									<div class="invalid-feedback" th:errors="*{email}"></div> <small class="text-muted" th:text="#{phoneValidate}"></small></td>
							</tr>
							<tr>
								<td><label th:text="#{phone}"></label> <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{phone_number}">
									<div class="invalid-feedback" th:errors="*{phone_number}"></div> <small class="text-muted" th:text="#{numValidate}"></small></td>
							</tr>
							<tr>
								<td><label th:text="#{gender}"></label></td>
							</tr>
							<tr>
								<td>
									<div th:each="item : ${genderList}" class="form-check-inline">
										<input type="radio" class="form-check-input" th:text="${item.value}" th:value="${item.key}" th:field="*{gender}" />
									</div>
								</td>
							</tr>
							<tr>
								<td><label th:text="#{birth}"></label> <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{birthday}">
									<div class="invalid-feedback" th:errors="*{birthday}"></div> <small class="text-muted" th:text="#{calendarValidate}"></small></td>
							</tr>
							<tr>
								<td><label th:text="#{join}"></label> <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{joinday}">
									<div class="invalid-feedback" th:errors="*{joinday}"></div> <small class="text-muted" th:text="#{calendarValidate}"></small></td>
							</tr>
							<tr>
								<td><label th:text="#{comment}"></label> <textarea class="form-control" th:errorclass="is-invalid" th:field="*{comment}" rows="3"></textarea>
									<div class="invalid-feedback" th:errors="*{comment}"></div> <small class="text-muted" th:text="#{commentValedate}"></small></td>
							</tr>
							<tr>
								<td>
									<div class="mt-2">
										<input type="submit" class="btn btn-primary" value="登録" />
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
